.parent{
  display: flex;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 73px;
  background-color: white;
  border: 1px solid #ccc;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

/* 팝업 스타일 */
.popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
  background-color: white;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.popup-content {
  padding: 15px;
}

.diary-entry {
  margin-bottom: 8px;
  white-space: pre-wrap; /* 줄바꿈 반영 */
  text-align: left;
}

nav {
  width: 200px; /* 네비게이션 바 너비 */
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px; /* 메뉴 간격 */
}

nav a {
  color: white;
  text-decoration: none;
  display: block; /* 세로 정렬 */
  padding: 10px;
  background-color: #444;
  border-radius: 5px; /* 둥근 모서리 */
}

nav a:hover {
  background-color: #555; /* 마우스 올릴 때 배경색 변경 */
}